.selection{
    border-radius: 4px;
    cursor: pointer;
    width: 180px;
    text-align: center;
    outline: none;
    border: .5px solid rgb(193, 193, 193);
}

.selection option{
    padding: 20px 0;
    cursor: pointer;
}