.payment-success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  text-align: center;
  min-height: calc(100vh - 564px);
  padding: 2rem 0;
}

.payment-success-heading {
  color: green;
}
